* text=auto !eol
CHAMELEON/CHAMELEON.sln -text
CHAMELEON/CHAMELEON/CHAMELEON.csproj -text
CHAMELEON/CHAMELEON/Icon.ico -text
CHAMELEON/CHAMELEON/Program.cs -text
CHAMELEON/CHAMELEON/Properties/AssemblyInfo.cs -text
CHAMELEON/CHAMELEON/main.cs -text
CHAMELEON/chameleon[!!-~]content/chameleon_content/chameleon_content.csproj -text
CHAMELEON/chameleon[!!-~]content/chameleon_content/chameleon_content.csproj.PSM.cachefile -text
CHAMELEON/chameleon[!!-~]content/chameleon_contentContent/chameleon_contentContent.contentproj -text
CHAMELEON/chameleon[!!-~]content/chameleon_contentContent/temp/bg.png -text
CHAMELEON/chameleon[!!-~]content/chameleon_contentContent/temp/chameleon.png -text
CPP_GAME_ENG/CPP_GAME_ENG.sln -text
CPP_GAME_ENG/CPP_GAME_ENG.v12.suo -text
CPP_GAME_ENG/ENGINE/project/ENGINE.vcxproj -text
CPP_GAME_ENG/ENGINE/project/ENGINE.vcxproj.filters -text
CPP_GAME_ENG/ENGINE/src/Engine.cpp -text
CPP_GAME_ENG/ENGINE/src/Engine.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/Allocators.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/Allocators.h -text
CPP_GAME_ENG/ENGINE/src/memory/BitField.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/BitField.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/BlockAllocators.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/BlockAllocators.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/SmallBlockAllocator.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/SmallBlockAllocator.hpp -text
CPP_GAME_ENG/ENGINE/src/objects/Moveable.cpp -text
CPP_GAME_ENG/ENGINE/src/objects/Moveable.hpp -text
CPP_GAME_ENG/ENGINE/src/utils/Vec3.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/Vec3.hpp -text
CPP_GAME_ENG/GAME/project/GAME.vcxproj -text
CPP_GAME_ENG/GAME/project/GAME.vcxproj.filters -text
CPP_GAME_ENG/GAME/project/GAME.vcxproj.user -text
CPP_GAME_ENG/GAME/src/CacheSimulator/CacheSimulator.cpp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/CacheSimulator.hpp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/Set.cpp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/Set.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/Unit.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/Unit.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/Controller.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/Controller.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/player_controller.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/player_controller.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/random_move_ai.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/random_move_ai.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/monster_chase.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/monster_chase.hpp -text
CPP_GAME_ENG/GAME/src/main.cpp -text
CPP_GAME_ENG_CLASS/CPP_GAME_ENG_CLASS.sln -text
CPP_GAME_ENG_CLASS/GAME_ENG_PROJECT/build/project/GAME_ENG_PROJECT.vcxproj -text
CPP_GAME_ENG_CLASS/GAME_ENG_PROJECT/build/project/GAME_ENG_PROJECT.vcxproj.filters -text
CPP_GAME_ENG_CLASS/GAME_ENG_PROJECT/src/main.cpp -text
