* text=auto !eol
CHAMELEON/CHAMELEON.sln -text
CHAMELEON/CHAMELEON/CHAMELEON.csproj -text
CHAMELEON/CHAMELEON/Icon.ico -text
CHAMELEON/CHAMELEON/Program.cs -text
CHAMELEON/CHAMELEON/Properties/AssemblyInfo.cs -text
CHAMELEON/CHAMELEON/main.cs -text
CHAMELEON/chameleon[!!-~]content/chameleon_content/chameleon_content.csproj -text
CHAMELEON/chameleon[!!-~]content/chameleon_content/chameleon_content.csproj.PSM.cachefile -text
CHAMELEON/chameleon[!!-~]content/chameleon_contentContent/chameleon_contentContent.contentproj -text
CHAMELEON/chameleon[!!-~]content/chameleon_contentContent/temp/bg.png -text
CHAMELEON/chameleon[!!-~]content/chameleon_contentContent/temp/chameleon.png -text
CPP_GAME_ENG/CPP_GAME_ENG.sln -text
CPP_GAME_ENG/CPP_GAME_ENG.v12.suo -text
CPP_GAME_ENG/ENGINE/project/ENGINE.vcxproj -text
CPP_GAME_ENG/ENGINE/project/ENGINE.vcxproj.filters -text
CPP_GAME_ENG/ENGINE/src/Engine.cpp -text
CPP_GAME_ENG/ENGINE/src/Engine.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/Allocators.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/Allocators.h -text
CPP_GAME_ENG/ENGINE/src/memory/BitField.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/BitField.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/BlockAllocators.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/BlockAllocators.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/HeapAllocator.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/HeapAllocator.hpp -text
CPP_GAME_ENG/ENGINE/src/memory/SmallBlockAllocator.cpp -text
CPP_GAME_ENG/ENGINE/src/memory/SmallBlockAllocator.hpp -text
CPP_GAME_ENG/ENGINE/src/objects/Moveable.cpp -text
CPP_GAME_ENG/ENGINE/src/objects/Moveable.hpp -text
CPP_GAME_ENG/ENGINE/src/physics/OBBCollisionObject.cpp -text
CPP_GAME_ENG/ENGINE/src/physics/OBBCollisionObject.h -text
CPP_GAME_ENG/ENGINE/src/physics/PhysicsHandler.cpp -text
CPP_GAME_ENG/ENGINE/src/physics/PhysicsHandler.h -text
CPP_GAME_ENG/ENGINE/src/physics/RigidBody.cpp -text
CPP_GAME_ENG/ENGINE/src/physics/RigidBody.h -text
CPP_GAME_ENG/ENGINE/src/render/BasicRenderer.cpp -text
CPP_GAME_ENG/ENGINE/src/render/BasicRenderer.h -text
CPP_GAME_ENG/ENGINE/src/render/Renderable.cpp -text
CPP_GAME_ENG/ENGINE/src/render/Renderable.h -text
CPP_GAME_ENG/ENGINE/src/timing/Timing.Win32.cpp -text
CPP_GAME_ENG/ENGINE/src/timing/Timing.h -text
CPP_GAME_ENG/ENGINE/src/timing/Timing.inl -text
CPP_GAME_ENG/ENGINE/src/utils/Assert/Assert.Win32.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/Assert/Assert.h -text
CPP_GAME_ENG/ENGINE/src/utils/AutoPtr/AutoPtr-inl.h -text
CPP_GAME_ENG/ENGINE/src/utils/AutoPtr/AutoPtr.h -text
CPP_GAME_ENG/ENGINE/src/utils/AutoPtr/sample.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/Console/ConsolePrint.Win32.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/Console/ConsolePrint.h -text
CPP_GAME_ENG/ENGINE/src/utils/FloatHelpers.h -text
CPP_GAME_ENG/ENGINE/src/utils/HashedString/HashedString-inl.h -text
CPP_GAME_ENG/ENGINE/src/utils/HashedString/HashedString.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/HashedString/HashedString.h -text
CPP_GAME_ENG/ENGINE/src/utils/Matrix4.h -text
CPP_GAME_ENG/ENGINE/src/utils/NamedBitSet/NamedBitSet-inl.h -text
CPP_GAME_ENG/ENGINE/src/utils/NamedBitSet/NamedBitSet.h -text
CPP_GAME_ENG/ENGINE/src/utils/RingBuffer.hpp -text
CPP_GAME_ENG/ENGINE/src/utils/SharedPtr/SharedPtr-inl.h -text
CPP_GAME_ENG/ENGINE/src/utils/SharedPtr/SharedPtr.h -text
CPP_GAME_ENG/ENGINE/src/utils/StringPool/StringPool.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/StringPool/StringPool.h -text
CPP_GAME_ENG/ENGINE/src/utils/Target/Target.Win32.h -text
CPP_GAME_ENG/ENGINE/src/utils/Target/Target.h -text
CPP_GAME_ENG/ENGINE/src/utils/Vec3.cpp -text
CPP_GAME_ENG/ENGINE/src/utils/Vec3.hpp -text
CPP_GAME_ENG/ENGINE/src/utils/unit_tests.hpp -text
CPP_GAME_ENG/Exports/Cheesy/Cheesy.h -text
CPP_GAME_ENG/Exports/Cheesy/Cheesy_Debug.lib -text
CPP_GAME_ENG/Exports/Cheesy/Cheesy_Release.lib -text
CPP_GAME_ENG/Exports/Cheesy/IReferenceCounted.h -text
CPP_GAME_ENG/Exports/Cheesy/Sprite.h -text
CPP_GAME_ENG/Exports/Cheesy/Text.h -text
CPP_GAME_ENG/Exports/Cheesy/Texture.h -text
CPP_GAME_ENG/Exports/Cheesy/Types.h -text
CPP_GAME_ENG/Exports/luaplus/LuaAutoBlock.h -text
CPP_GAME_ENG/Exports/luaplus/LuaCall.h -text
CPP_GAME_ENG/Exports/luaplus/LuaCall.inl -text
CPP_GAME_ENG/Exports/luaplus/LuaFunction.h -text
CPP_GAME_ENG/Exports/luaplus/LuaHelper.h -text
CPP_GAME_ENG/Exports/luaplus/LuaHelper_Object.h -text
CPP_GAME_ENG/Exports/luaplus/LuaHelper_StackObject.h -text
CPP_GAME_ENG/Exports/luaplus/LuaLink.h -text
CPP_GAME_ENG/Exports/luaplus/LuaObject.h -text
CPP_GAME_ENG/Exports/luaplus/LuaObject.inl -text
CPP_GAME_ENG/Exports/luaplus/LuaPlus.h -text
CPP_GAME_ENG/Exports/luaplus/LuaPlusCD.h -text
CPP_GAME_ENG/Exports/luaplus/LuaPlusInternal.h -text
CPP_GAME_ENG/Exports/luaplus/LuaStackObject.h -text
CPP_GAME_ENG/Exports/luaplus/LuaStackObject.inl -text
CPP_GAME_ENG/Exports/luaplus/LuaStackTableIterator.h -text
CPP_GAME_ENG/Exports/luaplus/LuaStackTableIterator.inl -text
CPP_GAME_ENG/Exports/luaplus/LuaState.h -text
CPP_GAME_ENG/Exports/luaplus/LuaState.inl -text
CPP_GAME_ENG/Exports/luaplus/LuaStateCD.h -text
CPP_GAME_ENG/Exports/luaplus/LuaStateOutFile.h -text
CPP_GAME_ENG/Exports/luaplus/LuaTableIterator.h -text
CPP_GAME_ENG/Exports/luaplus/luaplusstatic51_1201.Debug.lib -text
CPP_GAME_ENG/Exports/luaplus/luaplusstatic51_1201.Release.lib -text
CPP_GAME_ENG/Exports/luaplus/src/Makefile -text
CPP_GAME_ENG/Exports/luaplus/src/lapi.c -text
CPP_GAME_ENG/Exports/luaplus/src/lapi.h -text
CPP_GAME_ENG/Exports/luaplus/src/lauxlib.c -text
CPP_GAME_ENG/Exports/luaplus/src/lauxlib.h -text
CPP_GAME_ENG/Exports/luaplus/src/lbaselib.c -text
CPP_GAME_ENG/Exports/luaplus/src/lcode.c -text
CPP_GAME_ENG/Exports/luaplus/src/lcode.h -text
CPP_GAME_ENG/Exports/luaplus/src/ldblib.c -text
CPP_GAME_ENG/Exports/luaplus/src/ldebug.c -text
CPP_GAME_ENG/Exports/luaplus/src/ldebug.h -text
CPP_GAME_ENG/Exports/luaplus/src/ldo.c -text
CPP_GAME_ENG/Exports/luaplus/src/ldo.h -text
CPP_GAME_ENG/Exports/luaplus/src/ldump.c -text
CPP_GAME_ENG/Exports/luaplus/src/lfunc.c -text
CPP_GAME_ENG/Exports/luaplus/src/lfunc.h -text
CPP_GAME_ENG/Exports/luaplus/src/lgc.c -text
CPP_GAME_ENG/Exports/luaplus/src/lgc.h -text
CPP_GAME_ENG/Exports/luaplus/src/linit.c -text
CPP_GAME_ENG/Exports/luaplus/src/liolib.c -text
CPP_GAME_ENG/Exports/luaplus/src/llex.c -text
CPP_GAME_ENG/Exports/luaplus/src/llex.h -text
CPP_GAME_ENG/Exports/luaplus/src/llimits.h -text
CPP_GAME_ENG/Exports/luaplus/src/lmathlib.c -text
CPP_GAME_ENG/Exports/luaplus/src/lmem.c -text
CPP_GAME_ENG/Exports/luaplus/src/lmem.h -text
CPP_GAME_ENG/Exports/luaplus/src/loadlib.c -text
CPP_GAME_ENG/Exports/luaplus/src/lobject.c -text
CPP_GAME_ENG/Exports/luaplus/src/lobject.h -text
CPP_GAME_ENG/Exports/luaplus/src/lopcodes.c -text
CPP_GAME_ENG/Exports/luaplus/src/lopcodes.h -text
CPP_GAME_ENG/Exports/luaplus/src/loslib.c -text
CPP_GAME_ENG/Exports/luaplus/src/lparser.c -text
CPP_GAME_ENG/Exports/luaplus/src/lparser.h -text
CPP_GAME_ENG/Exports/luaplus/src/lstate.c -text
CPP_GAME_ENG/Exports/luaplus/src/lstate.h -text
CPP_GAME_ENG/Exports/luaplus/src/lstring.c -text
CPP_GAME_ENG/Exports/luaplus/src/lstring.h -text
CPP_GAME_ENG/Exports/luaplus/src/lstrlib.c -text
CPP_GAME_ENG/Exports/luaplus/src/ltable.c -text
CPP_GAME_ENG/Exports/luaplus/src/ltable.h -text
CPP_GAME_ENG/Exports/luaplus/src/ltablib.c -text
CPP_GAME_ENG/Exports/luaplus/src/ltm.c -text
CPP_GAME_ENG/Exports/luaplus/src/ltm.h -text
CPP_GAME_ENG/Exports/luaplus/src/lua.c -text
CPP_GAME_ENG/Exports/luaplus/src/lua.h -text
CPP_GAME_ENG/Exports/luaplus/src/luac.c -text
CPP_GAME_ENG/Exports/luaplus/src/luaconf.h -text
CPP_GAME_ENG/Exports/luaplus/src/lualib.h -text
CPP_GAME_ENG/Exports/luaplus/src/lundump.c -text
CPP_GAME_ENG/Exports/luaplus/src/lundump.h -text
CPP_GAME_ENG/Exports/luaplus/src/lvm.c -text
CPP_GAME_ENG/Exports/luaplus/src/lvm.h -text
CPP_GAME_ENG/Exports/luaplus/src/lzio.c -text
CPP_GAME_ENG/Exports/luaplus/src/lzio.h -text
CPP_GAME_ENG/Exports/luaplus/src/print.c -text
CPP_GAME_ENG/GAME/project/Actors.lua -text
CPP_GAME_ENG/GAME/project/GAME.vcxproj -text
CPP_GAME_ENG/GAME/project/GAME.vcxproj.filters -text
CPP_GAME_ENG/GAME/project/GAME.vcxproj.user -text
CPP_GAME_ENG/GAME/project/image/game_enemy.bmp -text
CPP_GAME_ENG/GAME/project/image/game_enemy_o.bmp -text
CPP_GAME_ENG/GAME/project/image/game_guy-o.bmp -text
CPP_GAME_ENG/GAME/project/image/game_guy.bmp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/CacheSimulator.cpp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/CacheSimulator.hpp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/Set.cpp -text
CPP_GAME_ENG/GAME/src/CacheSimulator/Set.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/Unit.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/Unit.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/Controller.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/Controller.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/player_controller.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/player_controller.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/random_move_ai.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/controller/random_move_ai.hpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/monster_chase.cpp -text
CPP_GAME_ENG/GAME/src/MonsterChase/monster_chase.hpp -text
CPP_GAME_ENG/GAME/src/main.cpp -text
CPP_GAME_ENG_CLASS/CPP_GAME_ENG_CLASS.sln -text
CPP_GAME_ENG_CLASS/GAME_ENG_PROJECT/build/project/GAME_ENG_PROJECT.vcxproj -text
CPP_GAME_ENG_CLASS/GAME_ENG_PROJECT/build/project/GAME_ENG_PROJECT.vcxproj.filters -text
CPP_GAME_ENG_CLASS/GAME_ENG_PROJECT/src/main.cpp -text
